h1{
    text-align: center;
-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: black;
font-size: 300%;
}
.cor{
    color: forestgreen;
}
img{
    width: 3%;
    height: 1%;
}
.colorBlue{
color: rgb(10, 10, 175);
}
.colorWhite{
color: white;
}
.colorRed{
color: red;
}
.texts{
    font-size: 150%;
    color: white;

}
.components{
    width: 25%;
    height: 10%;
}
.alignCenter{
    text-align: center;
}
.div1{
    border-radius: 2%;
    width: 30%;
    background-color: rgba(255, 0, 0, 0.418)
    
}
.div2{
    width: 100%;

}

.alignRigth{
    text-align: right;
}
.imageFormat{
    animation-duration: 3s;
    animation-name: slidein;
    position: absolute;
    width: 250px;
    height: 250px;
    top: 7cm;
    left: 12cm;    
}
@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}